{% extends 'blog/base.html' %}
{% block content %}
<h5>Developer: Sotirios Ilias Tsivras</h5>
<h5>Note: Use Firefox, Chrome or Opera as web browsers for viewing the live graphs</h5>
<a class="btn btn-default" href="{% url 'quest_new' %}"><h5><span class="glyphicon glyphicon-envelope"> <font face="Courier">Contact Form </font></span></h5></a>
	{% for post in posts %}
		<div class="post">
			<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
			<p align="justify">{{ post.text|linebreaks }}</p>
			<div class="date">
				<p>published: {{ post.published_date }}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}