{% extends 'blog/base.html' %}
{% block content %}
	<div class="post">
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		<h2>{{ post.title }}</h2>
		{% if post.title == "Physics -> Instability Strip Live Graph" %}
			{% include 'blog/loading.html' %}
			<h5>Note: Use Firefox, Chrome or Opera as web browsers for viewing the live graphs.</h5>
			{% include 'blog/inst_strip.html' %}
			{% include 'blog/hr_full.html' %}
		{% endif %}
		{% if post.title == "Physics -> Build your first interactive course using the Turtle Graphics" %}
			{% include 'blog/loading.html' %}
			<h5>Note: Use Firefox, Chrome or Opera as web browsers for viewing the live graphs.</h5>
			{% include 'blog/turtle_1.html' %}
		{% endif %}
		{% if post.title == "Physics -> Import data from websites to Matplotlib" %}
			{% include 'blog/loading.html' %}
			<h5>Note: Use Firefox, Chrome or Opera as web browsers for viewing the live graphs.</h5>
			{% include 'blog/inst_strip_table.html' %}
		{% endif %}
		<p>{{ post.text|linebreaks }}</p>
		{% if post.published_date %}
		<div class="date">
			{{ post.published_date }}
		</div>
		{% endif %}
	</div>
{% endblock %}